@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-display: auto;
        unicode-range: U+000-5FF;
        src: local("Manrope"),
        url("/public/fonts/Manrope-Regular.ttf") format("truetype"),
        url("/public/fonts/Manrope-Medium.ttf") format("truetype"),
        url("/public/fonts/Manrope-SemiBold.ttf") format("truetype"),
        url("/public/fonts/Manrope-Bold.ttf") format("truetype");
    }
}

